footer.footer-alt
	// Logo
	.footer-alt__logo-box
		img.footer-alt__logo(src="/img/logo-fit-ever.png" alt="Logo")
	// Contact Support
	.footer-alt__navigation
		ul.footer-alt__list
			li.footer-alt__item
				a.footer-alt__link(href="#") Contact Us
			li.footer-alt__item
				a.footer-alt__link(href="#") About Us
			li.footer-alt__item
				a.footer-alt__link(href="#") Careers
			li.footer-alt__item
				a.footer-alt__link(href="#") Terms
			li.footer-alt__item
				a.footer-alt__link(href="#") Privacy Policy
			li.footer-alt__item
				a.footer-alt__link(href="#") Blog
	// Copyright Text
	p.footer-alt__copyright
		| Copyright by Steven Harjapramana © 2020. All images and videos used
		| in this website belongs to their respective owners and I do not take
		| credit of them.
