.program-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-light);
  &__text {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 3rem;
  }

  &__text > * {
    margin-bottom: 1.5rem;
  }

  &__video-container {
    flex: 1;
    position: relative;
    height: 40rem;
    width: 30rem;
    padding: 3rem;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border-grey);
  }

  &__video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary-red);
  }

  &__description {
    font-weight: 300;
  }

  &__ratings {
    display: flex;
    align-items: center;
  }

  &__star-number {
    margin-right: 1rem;
  }
  &__icon-star {
    width: 2rem;
    height: 2rem;
    fill: var(--color-gold);
  }
}
