.section-program-summary {
  background-color: var(--color-black);
  padding: 3rem 5rem;
}

.section-program-content {
  background-color: var(--color-grey-light);
  display: grid;
  row-gap: 5rem;
}
